<div id="myApp">
  <div ng-controller="sgTidalDataCtrl">
    <button id="loadJson" class="btn btn-warning">Load JSON</button>
    <!--ng-click="callWindowFunction('loadJson')"-->
    <div>
      <button class="btn btn-primary" ng-click="svgToUrl(); showDownload = true;">Get SVG Image</button>
      <a ng-show="showDownload" ng-href="{{svgUrl}}" download="network.svg">
        <button class="btn btn-default">
          <span class="glyphicon glyphicon-download-alt"></span>&nbsp;Download</button>
      </a>
    </div>
    <sg-graphene svg="svg" imports="exports" template="views/template.html"></sg-graphene>
  </div>
</div>
